[Desktop Entry]
Name=pyPassMan
Comment=A Gtk3 password manager
Exec=pyPassManGtk3
Terminal=false
Type=Application
Categories=Office;
StartupNotify=true
